<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Weather Service</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
 
 <script>
  console.log('FFFFFFFFFFFFFFFFFFFFFFFFFF')
  
</script>

</head>
<body>
   {{>header}}
    <br>

<div class="container">
    
<div class="row">
  
 <div class="col">

 <div id="mapid" style="height:300px; width:inherit"></div>
 </div>

</div>
<form style="margin-top:2%;">
  
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer">Enter city or place</label>
      <input type="text" class="form-control" id="validationServer" placeholder="" oninvalid="this.setCustomValidity('You must enter city or place!')" oninput="setCustomValidity('')" required="">
      <div class="invalid-feedback">
        <p id="error_msg">Error</p>
      </div>
    </div>
    
  </div>
  
  <button class="btn btn-primary" type="submit">Show forecast</button>
</form>
<div class="row">
  
  <div class="col">
  <div class="card text-white bg-primary mb-3" style="width:inherit; margin-top:3%;">
  <div class="card-header" id="card_head" style="color: yellow; font-weight: bold;"></div>
  <div class="card-body">
    
    <h5 class="card-title">Weather description</h5> 
    <p class="card-text" id="card_inner_text"></p>
        <img id="weather_img" src="" alt="">
  </div>
</div>
</div>
</div>
</div>
</body>

</html>