<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Forecast</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('Bulletin_Board.svg'); background-repeat: no-repeat; background-attachment: fixed;">
    
   {{>header}}
    <br>
   
    <div class="container">
        <div class="d-flex justify-content-start flex-wrap" id="taskBoard" >
           
            <template id="task">
               
               <div class="d-lg-none" style="padding:15% 0px 0px 30px; width:80%; height:150px; background-image: url('note.png'); background-repeat: no-repeat; background-size:cover; margin:10%;">
              
               <div class="text" id="text1" style="width:80%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur venenatis blandit. Praesent vehicula, libero non pretium vulputate, lacus arcu facilisis lectus, sed feugiat tellus nulla eu dolor. Nulla porta bibendum lectus quis euismod. Aliquam volutpat ultricies porttitor. Cras risus nisi, accumsan vel cursus ut, sollicitudin vitae dolor. Fusce scelerisque eleifend lectus in bibendum. Suspendisse lacinia egestas felis a volutpat.

               </div>
               <label style="width: 100%;"><input type="checkbox" id="cardSelect1"/></label>

               
            </div>
             <div class="d-none d-lg-block" style="padding:3% 0px 0px 1%; width:200px; height:200px; background-image: url('note.png'); background-repeat: no-repeat; background-size:cover; margin:1% 0% 1% 1%;">
               <div class="text" id="text2" style="width:80%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient:vertical;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur venenatis blandit. Praesent vehicula, libero non pretium vulputate, lacus arcu facilisis lectus, sed feugiat tellus nulla eu dolor. Nulla porta bibendum lectus quis euismod. Aliquam volutpat ultricies porttitor. Cras risus nisi, accumsan vel cursus ut, sollicitudin vitae dolor. Fusce scelerisque eleifend lectus in bibendum. Suspendisse lacinia egestas felis a volutpat.
                   
               </div>
               <label style="width: 100%;"><input type="checkbox" id="cardSelect2"/></label>
                
            </div>
            </template>
            </div>

        </div>
  
<nav class="navbar fixed-bottom navbar-dark bg-dark">
   
  <div class="p-2 ml-auto" onclick="newTask()">
      <span style="color: yellow;">New Task</span>
      <img src="add-file.svg" style="width: 30px;">
  </div>
  
  <div class="p-2 ml-auto" onclick="deleteTask()">
      <span style="color: yellow;">Delete task</span>
      <img src="add-file.svg" style="width: 30px;">
  </div>
  <div class="p-2 ml-auto" onclick="newTask()">
      <span style="color: yellow;">Sort by</span>
      <img src="add-file.svg" style="width: 30px;">
  </div>
 
</nav>
  

</body>
 <script src="js/tasksPage.js"></script>
</html>