


<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
	<a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Task<b>Manager</b></a>
	<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="navbar-collapse justify-content-start collapse" style="">
		<div class="navbar-nav">
			<a href="/" class="nav-item nav-link active">Home</a>
			<a href="/sudoku" class="nav-item nav-link">Sudoku</a>
			<a href="/about" class="nav-item nav-link">About</a>
			
			<a href="/tasksPage" class="nav-item nav-link">My tasks</a>
			
		</div>
		<template id="loggedIn">
			<div class="navbar-nav ml-auto" id="logged">
				<div class="nav-item dropdown">
					<a id="my" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action" aria-expanded="false"><img id="img_user" src="user.png" class="avatar" alt="Avatar" style:"width=50px; height=50px;"><b class="caret"></b></a>
					<div class="dropdown-menu">
						<a href="/profile" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
						<div class="dropdown-divider"></div>
						<a id="logout" href="#" onClick="logOut()" class="dropdown-item"><i class="material-icons"></i>Log out</a>
					</div>
				</div>
				
			</div>
		</template>
		<template id="logRes">
			<div class="navbar-nav ml-auto" id="logRes">
				 <a class="btn btn-primary m-2" href="/registration" role="button">Register</a>
				 <a class="btn btn-primary m-2" href="/login" role="button">Login</a>
			</div>
		</template>
		
	</div>
</nav>
<script src="js/header.js"></script>
